.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td, .ui-datatable tfoot th {
    padding: 4px 10px;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
    font-size: 10px;
}

.selectOneRadioColumn td {
border: none !important;
border-collapse:collapse;
}

.ui-paginator .ui-paginator-current, .ui-paginator .ui-paginator-rpp-options {
    margin-left: 1em;
    margin-right: 1em;
    background-image: none;
    width: 50px;
}



/* BEGIN */ /*CABECERA*/
#header {
	border-bottom: 2px solid #3047b2;
	height: 40px;
	padding-left: 20px;
	vertical-align: middle;
	background: #eaeaea repeat right top;
}

#left {
	width: 13.2%;
	float: left;
}

#center {
	float: left;
	border: 1px solid #bdc1c4;
	padding-left: 20px;
	padding-right:20px;
	width: 80%;
}

.ui-widget .ui-widget {
    font-size: 11px;
}

.ui-widget {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 11px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    text-shadow: 0 0 20px rgba(255, 255, 255, 1);
}
