<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
          				   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
          				   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
          				   http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">
	
	<context:annotation-config/>
	
	<!-- Configuracion de Database y Hibernate -->
		<import resource="/hibernate/DataSource.xml"/>
		<import resource="/hibernate/Hibernate.xml"/>
 
        <!-- Configuracion Bean -->

		<bean id="loginBean" scope="session" class="com.crm.bean.LoginBean">
		   <property name="usuarioSrv" ref="usuarioSrv" />
		   <property name="menuSrv" ref="menuSrv" />
		</bean>
		
		<bean id="productoBean" scope="session" class="com.crm.bean.ProductoBean">
		   <property name="productoSrv" ref="productoSrv" />
		</bean>
		
		<!-- Configuracion Servicios -->
		
		<bean id="usuarioSrv" class="com.crm.services.UsuarioSrv">
			<property name="usuarioDao" ref="usuarioDao" />
		</bean>
		
		<bean id="menuSrv" class="com.crm.services.MenuSrv">
			<property name="menuDao" ref="menuDao" />
		</bean>	
		
		 <bean id="productoSrv" class="com.crm.services.ProductoSrv">
			<property name="productoDao" ref="productoDao" />
		</bean>
		
		<!-- Configuracion DAOs -->
		
		<bean id="usuarioDao" class="com.crm.dao.UsuarioDao">
			<property name="sessionFactory" ref="sessionFactory" />
		</bean>
		
		<bean id="menuDao" class="com.crm.dao.MenuDao">
			<property name="sessionFactory" ref="sessionFactory" />
		</bean>	
		
		<bean id="productoDao" class="com.crm.dao.ProductoDao">
			<property name="sessionFactory" ref="sessionFactory" />
		</bean>
		
</beans>